<div class="container mt-5">
  <div class="row">
    <div class="col-sm">
      <h3 class='border-bottom'>Name</h3>
    </div>
    <div class="col-sm">
      <h3 class='border-bottom'>Intructions</h3>
    </div>
    <div class="col-sm">
      <h3 class='border-bottom'>Time of Day</h3>
    </div>
    <div class="col-sm">
      <h3 class='border-bottom'>Taken?</h3>
    </div>
  </div>
  <% @check_ins.each do |check_in| %>

  <div class="row border-bottom">
    <div class="col-sm border-right p-2">
      <p><%= check_in.prescription.product.name.capitalize %></p>
    </div>
    <div class="col-sm border-right p-2">
      <p><%= check_in.prescription.instructions %></p>
    </div>
    <div class="col-sm border-right p-2">
      <p><%= check_in.prescription_schedule.time_of_day %></p>
    </div>
    <div class="col-sm border-right p-2">
      <% if check_in.status == 'complete'  %>
        <p>yes</p>
      <% else %>
        <div class="d-flex justify-content-between">
          <p>no</p>
          <%= link_to check_in_path(check_in), method: :patch  do %>
            <p class="btn btn-primary">Check In</p>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
  <% end %>
</div>
